<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHomeArticleMapper">
    
    <resultMap type="SysHomeArticle" id="SysHomeArticleResult">
        <result property="articleId"    column="article_id"    />
        <result property="articleType"    column="article_type"    />
        <result property="articleName"    column="article_name"    />
        <result property="articleNameen"    column="article_nameEn"    />
        <result property="fileId"    column="file_id"    />
        <result property="filePath"    column="file_path"    />
        <result property="realName"    column="real_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysHomeArticleVo">
        select article_id, article_type, article_name, article_nameEn, file_id, create_time, create_by, update_by, update_time, del_flag from sys_home_article
    </sql>

    <select id="selectSysHomeArticleList" parameterType="SysHomeArticle" resultMap="SysHomeArticleResult">
<!--
        <include refid="selectSysHomeArticleVo"/>
-->
        select a.article_id, a.article_type, a.article_name, a.article_nameEn, a.create_time, a.create_by, a.update_by, a.update_time, a.del_flag
        , b.file_id, b.file_path ,b.real_name
        from sys_home_article a  left join sys_file  b on a.file_id= b.file_id

        <where>  
            <if test="articleType != null  and articleType != ''"> and article_type = #{articleType}</if>
            <if test="articleName != null  and articleName != ''"> and article_name like concat('%', #{articleName}, '%')</if>
            <if test="articleNameen != null  and articleNameen != ''"> and article_nameEn = #{articleNameen}</if>
            <if test="fileId != null "> and file_id = #{fileId}</if>
        </where>
    </select>

    <select id="selectSysHomeArticleListAndPDF" parameterType="SysHomeArticle" resultMap="SysHomeArticleResult">
        select a.article_id, a.article_type, a.article_name, a.article_nameEn, a.create_time, a.create_by, a.update_by, a.update_time, a.del_flag
               , b.file_id, b.file_path ,b.real_name
        from sys_home_article a  left join sys_file  b on a.file_id= b.file_id
        <where>
            <if test="articleType != null  and articleType != ''"> and article_type = #{articleType}</if>
            <if test="articleName != null  and articleName != ''"> and article_name like concat('%', #{articleName}, '%')</if>
            <if test="articleNameen != null  and articleNameen != ''"> and article_nameEn = #{articleNameen}</if>
            <if test="fileId != null "> and file_id = #{fileId}</if>
        </where>
    </select>
    <select id="selectSysHomeArticleByArticleId" parameterType="Long" resultMap="SysHomeArticleResult">
<!--
        <include refid="selectSysHomeArticleVo"/>
-->
        select a.article_id, a.article_type, a.article_name, a.article_nameEn, a.create_time, a.create_by, a.update_by, a.update_time, a.del_flag
        , b.file_id, b.file_path ,b.real_name
        from sys_home_article a  left join sys_file  b on a.file_id= b.file_id

        where article_id = #{articleId}
    </select>
        
    <insert id="insertSysHomeArticle" parameterType="SysHomeArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into sys_home_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleType != null">article_type,</if>
            <if test="articleName != null">article_name,</if>
            <if test="articleNameen != null">article_nameEn,</if>
            <if test="fileId != null">file_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleType != null">#{articleType},</if>
            <if test="articleName != null">#{articleName},</if>
            <if test="articleNameen != null">#{articleNameen},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysHomeArticle" parameterType="SysHomeArticle">
        update sys_home_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleType != null">article_type = #{articleType},</if>
            <if test="articleName != null">article_name = #{articleName},</if>
            <if test="articleNameen != null">article_nameEn = #{articleNameen},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <delete id="deleteSysHomeArticleByArticleId" parameterType="Long">
        delete from sys_home_article where article_id = #{articleId}
    </delete>

    <delete id="deleteSysHomeArticleByArticleIds" parameterType="String">
        delete from sys_home_article where article_id in 
        <foreach item="articleId" collection="array" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </delete>
</mapper>