<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysLbtMapper">
    
    <resultMap type="SysLbt" id="SysLbtResult">
        <result property="lbtId"    column="lbt_id"    />
        <result property="filePath"    column="file_path"    />
        <result property="realName"    column="real_name"    />
        <result property="linkAddress"    column="link_address"    />
        <result property="orderNum"    column="order_num"    />
        <result property="fileId"    column="file_id"    />

        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
    <sql id="selectSysLbtVo">
        select a.lbt_id,  a.link_address, a.order_num,a.create_time, a.create_by, a.update_by, a.update_time, a.del_flag,
               b.file_id, b.file_path, b.real_name from sys_lbt a
    </sql>

    <select id="selectSysLbtList" parameterType="SysLbt" resultMap="SysLbtResult">
        <include refid="selectSysLbtVo"/>
        left join sys_file b on a.file_id = b.file_id
        <where>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="linkAddress != null  and linkAddress != ''"> and link_address like concat('%', #{linkAddress}, '%')</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="fileId != null  and fileId != ''"> and file_id = #{fileId}</if>
        </where>
        order by order_num
    </select>

    <select id="selectSysLbtByLbtId" parameterType="Long" resultMap="SysLbtResult">
        <include refid="selectSysLbtVo"/>
        left join sys_file b on a.file_id = b.file_id
        where lbt_id = #{lbtId}
    </select>

    <insert id="insertSysLbt" parameterType="SysLbt"  keyColumn="lbt_id" useGeneratedKeys="true" keyProperty="lbtId">
        insert into sys_lbt
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="linkAddress != null">link_address,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="fileId != null">file_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="linkAddress != null">#{linkAddress},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysLbt" parameterType="SysLbt">
        update sys_lbt
        <trim prefix="SET" suffixOverrides=",">

            <if test="linkAddress != null">link_address = #{linkAddress},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where lbt_id = #{lbtId}
    </update>

    <delete id="deleteSysLbtByLbtId" parameterType="Long">
        delete from sys_lbt where lbt_id = #{lbtId}
    </delete>

    <delete id="deleteSysLbtByLbtIds" parameterType="String">
        delete from sys_lbt where lbt_id in 
        <foreach item="lbtId" collection="array" open="(" separator="," close=")">
            #{lbtId}
        </foreach>
    </delete>


    <select id="selectSysLbtListByIds" parameterType="String" resultMap="SysLbtResult">
        select * from sys_lbt where lbt_id in
        <foreach item="lbtId" collection="array" open="(" separator="," close=")">
            #{lbtId}
        </foreach>
    </select>
</mapper>